<title>{{ title|default( 'Sillonbol.com' ) }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="author" content="Sillonbol.com"/>
<meta name="copyright" content="Sillonbol.com"/>
<meta name="description" content="{{ description|default( 'description' ) }}"/>
<meta name="keywords" content="{{ keywords|default( 'fútbol, baloncesto, nba, nfl, euroliga, ncaa, tenis' ) }}"/>
<meta name="MSSmartTagsPreventParsing" content="TRUE"/>
<meta name="generator" content="eZ Publish"/>

<link rel="Home" href="/" title=" front page"/>
<link rel="Index" href="/"/>
<link rel="Top" href="/" title="{{ title|default( 'Home' ) }}"/>
<link rel="Search" href="/content/advancedsearch" title="Search "/>
<link rel="Shortcut icon" href="/design/standard/images/favicon.ico" type="image/x-icon"/>
<link rel="Copyright" href="/ezinfo/copyright"/>
<link rel="Author" href="/ezinfo/about"/>
<link rel="Alternate" type="application/rss+xml" title="RSS" href="/rss"/>

<script type="text/javascript">
    (function () {
        var head = document.getElementsByTagName('head')[0];
        var printNode = document.createElement('link');
        printNode.rel = 'Alternate';
        printNode.href = "/layout/set/print/content/view/sitemap/2" + document.location.search;
        printNode.media = 'print';
        printNode.title = "Printable version";
        head.appendChild(printNode);
    })();
</script>


