<!DOCTYPE html>
{% if content is defined %}
{% set title %}
{{ content.contentInfo.name }} / Sillonbol.com
{% endset %}
{% endif %}
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'SillonbolWebBundle::page_head.html.twig' %}
    {% include 'SillonbolWebBundle::page_head_style.html.twig' %}
    {% include 'SillonbolWebBundle::page_head_script.html.twig' %}

</head>
<body class="home {% if app.request.get( 'locationId' ) %}location-{{ app.request.get('locationId') }}{% endif %}">
    {% block header %}
        {% include 'SillonbolWebBundle::page_header.html.twig' %}
    {% endblock %}
    {% if app.request.attributes.get( 'locationId' ) == 2 %}
        {{ render( controller( 'SillonbolWebBundle:Frontpage:mainBlock' ) ) }}
    {% else %}
    <div class="row spacer"></div>
    {% endif %}
    {% block socialandsearch %}
       
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        {% include 'SillonbolWebBundle::page_footer.html.twig' %}
        {% include 'SillonbolWebBundle::page_footer_script.html.twig' %}
    {% endblock %}
</body>
</html>

