{% extends "SillonbolWebBundle::pagelayout.html.twig" %}

{% block content %}
<div class="col-md-11 cont-grid">
    <div class="col-md-11 single-in">
    <div class="grid">
    
                    {% if pagerBlog|length() > 0 %}
                       
                            {% for post in pagerBlog %}
                                <div class="item">
                                    {{ post.name }}
                                </div>
                            {% endfor %}

     </div>
    </div>
                        {# Pagination is displayed only if needed (number of posts > limit) #}
                        {% if pagerBlog.haveToPaginate() %}
                            {{ pagerfanta( pagerBlog, 'twitter_bootstrap_translated' ) }}
                        {% endif %}

                    {% endif %}
                
</div>

{% endblock %}