{% block eztags_field %}
<p><span class="tag-post">
        <i class="fa fa-tag"></i>
{% spaceless %}
    {% for tag in field.value.tags %}
        <a href="{{ path( tag ) }}">{{ netgen_tags_tag_keyword( tag ) }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
{% endspaceless %}
</span></p>
{% endblock %}
