<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    {% block logo %}
        {% include 'SillonbolWebBundle::page_header_logo.html.twig' %}
    {% endblock %}
    </div>
    {% block mainmenu %}
        {{ render( controller( 'SillonbolWebBundle:Web:mainMenu', { 'selected': ezpublish.legacy.get( 'path' ).1 is defined ? ezpublish.legacy.get( 'path' ).1.node_id : 0 } ) ) }}
    {% endblock %}
    <!--/.nav-collapse -->
</div>