{% set title = '' %}
{% if content is defined %}
    {% set title = ez_content_name( content )|default('') %}
{% endif %}
{% if metas_location is defined %}
    {% set meta = ez_fezmetadata( metas_location.contentInfo.id ) %}
    {% set meta_title = meta.title is defined ? meta.title : title|default('') %}
    {% set meta_description = meta.description is defined ? meta.description : '' %}
    {% set meta_keywords = meta.keywords is defined ? meta.keywords : '' %}
{% elseif location is defined %}
    {% set meta = ez_fezmetadata( location.contentInfo.id ) %}
    {% set meta_title = meta.title is defined ? meta.title : title|default('') %}
    {% set meta_description = meta.description is defined ? meta.description : '' %}
    {% set meta_keywords = meta.keywords is defined ? meta.keywords : '' %}
{% else %}
    {% set default_meta = ez_fezmetadata( 2 ) %}
    {% set meta_title = default_meta.title is defined ? default_meta.title : title|default('') %}
    {% set meta_description = default_meta.description is defined ? default_meta.description : '' %}
    {% set meta_keywords = default_meta.keywords is defined ? default_meta.keywords : '' %}
{% endif %}
<title>{{ meta_title|default( 'Euroliga de baloncesto y más deportes en sillonbol.com' ) }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="author" content="Jose L. Rodríguez-Mera R"/>
<meta name="copyright" content="Sillonbol.com"/>
<meta name="description" content="{{ meta_description|default( 'La Euroliga analizada al detalle, lo mejor de las clásicas de ciclismo, el tenis, Champions, ACB, Eurocup y más en sillonbol.com' ) }}"/>
<meta name="keywords" content="{{ meta_keywords|default( 'euroliga, euroliga de baloncesto, euroleague, resultados
euroliga, Champions, ACB, clásicas de ciclismo, Eurocup, balonmano' ) }}"/>
<meta name="MSSmartTagsPreventParsing" content="TRUE"/>
<meta name="generator" content="eZ Publish"/>


<link rel="Home" href="/" title=" front page"/>
<link rel="Index" href="/"/>
<link rel="Top" href="/" title="{{ title|default( 'Home' ) }}"/>
<link rel="Search" href="/content/advancedsearch" title="Search "/>
<link rel="Shortcut icon" href="/design/standard/images/favicon.ico" type="image/x-icon"/>
<link rel="Copyright" href="/ezinfo/copyright"/>
<link rel="Author" href="/ezinfo/about"/>
<link rel="Alternate" type="application/rss+xml" title="RSS" href="/rss"/>

<script type="text/javascript">
    (function () {
        var head = document.getElementsByTagName('head')[0];
        var printNode = document.createElement('link');
        printNode.rel = 'Alternate';
        printNode.href = "/layout/set/print/content/view/sitemap/2" + document.location.search;
        printNode.media = 'print';
        printNode.title = "Printable version";
        head.appendChild(printNode);
    })();
</script>
