<div class="footer">
    <div class="col-md-4 pull-left">
        &copy; Copyright 2014 - 2016  &nbsp; <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right arrow"></i>  <span>Sillonbol.com</span>
    </div>
    <div class="col-md-4 pull-left text-center">
        Desarrollado con <a href="http://ez.no">eZ Publish</a> &trade;
    </div>
    <div class="col-md-4 pull-right text-right">
        Diseño basado en <a href="http://www.marchettidesign.net/fullby/">Fullby</a>
    </div>
</div>
