{% extends noLayout == true ? viewbaseLayout : pagelayout %}

{% block content %}
<div class="col-md-11 cont-grid">
    <div class="col-md-11 single-in">
    <div class="grid">
    
                    {% if pagerBlog|length() > 0 %}
                       
                            {% for post in pagerBlog %}
                                <div class="item">
                                {# Displaying blog_post elements calling the view line #}
                                {{ render_esi( controller( 'ez_content:viewLocation', {'locationId': post.contentInfo.mainLocationId, 'viewType': 'line'} ) ) }}
                                </div>
                            {% endfor %}

     </div>
    </div>
                        {# Pagination is displayed only if needed (number of posts > limit) #}
                        {% if pagerBlog.haveToPaginate() %}
                            
                                {{ pagerfanta( pagerBlog, 'twitter_bootstrap_translated', {'routeName': location.id == 2 ? 'articulos' : location} ) }}
                            

                        {% endif %}

                    {% endif %}
                
</div>

{% endblock %}

