.o2k7Skin span.mce_externalimg {background-image:url(../images/insert-image.png); background-position: 2px 3px}
.o2k7Skin span.mce_vimeo {background-image:url(../images/vimeo.png); background-position: 2px 3px}
.o2k7Skin span.mce_youtube {background-image:url(../images/youtube.gif); background-position: 1px 1px}
.o2k7Skin span.mce_ezbbcode {background-image:url(../images/bbcode.gif); background-position: 2px 3px}
