<item>
        <title>{{ location.contentInfo.name }}</title>
        <link>http://www.sillonbol.com{{ path( location ) }}</link>
        <description><![CDATA[  {{ ez_render_field( content, 'short_title' ) }}]]></description>
        <pubDate>{{ published_rcf822 }}</pubDate>
</item>