{% extends '::pagelayout.html.twig' %}

{% block content %}
    <div class="col-md-11 cont-grid">
        <div class="col-md-11 single-in">
            <div class="grid">
                {% for post in related_content %}
                    <div class="item">
                    {{ render(
                                controller(
                                    "ez_content:viewAction", {
                                        "contentId": post.id,
                                        "locationId": post.contentInfo.mainLocationId,
                                        "viewType": "line"
                                    }
                                )
                            ) }}
		     </div>
                {% endfor %}
            </div>
        </div>
        {# Pagination is displayed only if needed (number of posts > limit) #}
        {% if related_content.haveToPaginate() %}
            {{ pagerfanta( related_content, 'twitter_bootstrap_translated' ) }}
        {% endif %}
    </div>
{% endblock %}
